
    <!--====== BINDUZ TOP HEADER PART START ======-->


    <div class="binduz-er-top-header-ad pt-30 pb-30 d-none d-lg-block">
        <div class=" container">
            <div class="row">
                <div class=" col-lg-12">
                    <img src="assets/images/info/p.PNG" alt="">
                </div>
            </div>
        </div>

    </div>

    <!--====== BINDUZ TOP HEADER PART ENDS ======-->

    
    <!--====== BINDUZ HEADER PART START ======-->

    <header class="binduz-er-header-area binduz-er-header-area-4">
        <div class="binduz-er-header-nav">
            <div class=" container">
                <div class="row">
                    <div class=" col-lg-12">
                        <div class="binduz-er-header-meddle-bar d-flex justify-content-between">
                            <div class="binduz-er-logo">
                                <a href="#"><img src="assets/images/info/logo-1.png" alt=""></a>
                            </div>
                            <div class="navigation">
                                <nav class="navbar navbar-expand-lg">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                      </button>
                                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="index.html">الرئيسية </a>
                                                
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="archived.html">أخبار</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="author.html">Social Tv</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">برامج اجتماعية </a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog-details-1.html">برامج المجتمع المدني</a></li>
                                                    <li><a href="blog-details-2.html">برامج غير حكومية</a></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="about-us.html">نسائيات</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="contact.html">#هاشتاغ</a>
                                            </li>
                                        </ul>
                                    </div> <!-- navbar collapse -->
                                    <div class="binduz-er-navbar-btn d-flex align-items-center">
                                        <div class="binduz-er-search-btn d-none d-sm-block">
                                            <a class="binduz-er-news-search-open" href="#"><i class="fa-regular fa-magnifying-glass"></i></a>
                                        </div>
                                        <span class="binduz-er-toggle-btn binduz-er-news-canvas_open d-block d-lg-none">
                                            <i class="fal fa-bars"></i>
                                        </span>
                                    </div>
                                </nav>
                            </div> <!-- navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--====== BINDUZ HEADER PART ENDS ======-->