

    
    <!--====== BINDUZ FEATURED PART START ======-->

    <section class="binduz-er-featured-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="binduz-er-featured-slider mt-30">
                        <div class="binduz-er-featured-title">
                            <h3 class="binduz-er-title">Social Tv</h3>
                        </div>
                        <div class="binduz-er-featured-slider-item">
                            <div class="binduz-er-trending-news-list-box">
                                <div class="binduz-er-thumb">
                                    <img src="assets/images/info/1.PNG" alt="">
                                </div>
                                <div class="binduz-er-content">
                                    <div class="binduz-er-meta-item">
                                        <div class="binduz-er-meta-categories">
                                            <a href="#">Social Tv</a>
                                        </div>
                                        <div class="binduz-er-meta-date">
                                            <span><i class="fa-solid fa-calendar-days"></i> منذ 5 أيام</span>
                                        </div>
                                    </div>
                                    <div class="binduz-er-trending-news-list-title">
                                        <h4 class="binduz-er-title"><a href="#">قسم العمل الاجتماعي بوزان في زيارة ميدانية للمشاريع المستفيدة من الدعم
                                            منذ 4 أيام </a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="binduz-er-trending-news-list-box">
                                <div class="binduz-er-thumb">
                                    <img src="assets/images/info/2.PNG" alt="">
                                </div>
                                <div class="binduz-er-content">
                                    <div class="binduz-er-meta-item">
                                        <div class="binduz-er-meta-categories">
                                            <a href="#">Social Tv</a>
                                        </div>
                                        <div class="binduz-er-meta-date">
                                            <span><i class="fa-solid fa-calendar-days"></i> منذ 5 أيام</span>
                                        </div>
                                    </div>
                                    <div class="binduz-er-trending-news-list-title">
                                        <h4 class="binduz-er-title"><a href="#">أساتذة وطلبة جامعات أمريكية مختصين في العلاج الوظيفي في زيارة خاصة لمقر جمعية حضانة طنجة </a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="binduz-er-featured-slider mt-30">
                        <div class="binduz-er-featured-title">
                            <h3 class="binduz-er-title">أخبار</h3>
                        </div>
                        <div class="binduz-er-featured-slider-item">
                            <div class="binduz-er-trending-news-list-box">
                                <div class="binduz-er-thumb">
                                    <img src="assets/images/info/2.PNG" alt="">
                                </div>
                                <div class="binduz-er-content">
                                    <div class="binduz-er-meta-item">
                                        <div class="binduz-er-meta-categories">
                                            <a href="#">Social Tv</a>
                                        </div>
                                        <div class="binduz-er-meta-date">
                                            <span><i class="fa-solid fa-calendar-days"></i> منذ 5 أيام</span>
                                        </div>
                                    </div>
                                    <div class="binduz-er-trending-news-list-title">
                                        <h4 class="binduz-er-title"><a href="#">قسم العمل الاجتماعي بوزان في زيارة ميدانية للمشاريع المستفيدة من الدعم
                                            منذ 4 أيام</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="binduz-er-trending-news-list-box">
                                <div class="binduz-er-thumb">
                                    <img src="assets/images/info/1.PNG" alt="">
                                </div>
                                <div class="binduz-er-content">
                                    <div class="binduz-er-meta-item">
                                        <div class="binduz-er-meta-categories">
                                            <a href="#">Social Tv</a>
                                        </div>
                                        <div class="binduz-er-meta-date">
                                            <span><i class="fa-solid fa-calendar-days"></i> منذ 5 أيام</span>
                                        </div>
                                    </div>
                                    <div class="binduz-er-trending-news-list-title">
                                        <h4 class="binduz-er-title"><a href="#">أساتذة وطلبة جامعات أمريكية مختصين في العلاج الوظيفي في زيارة خاصة لمقر جمعية حضانة طنجة </a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="binduz-er-sidebar-social">
                        <div class="binduz-er-sidebar-title">
                            <h4 class="binduz-er-title">Social Feed</h4>
                        </div>
                        <div class="binduz-er-social-list">
                            <div class="binduz-er-list">
                                <a href="#">
                                    <span><i class="fab fa-facebook"></i> <span>Infosocial.ma</span></span>
                                   
                                </a>
                                <a href="#">
                                    <span><i class="fab fa-twitter"></i>  <span>Infosocial.ma</span></span>
                                   
                                </a>
                                <a href="#">
                                    <span><i class="fab fa-instagram"></i> <span>Infosocial.ma</span></span>
                            
                                </a>
                                <a href="#">
                                    <span><i class="fab fa-youtube"></i> <span>Infosocial.ma</span> </span>
                                   
                                </a>
                            </div>
                        </div>
                        <div class="binduz-er-sidebar-add mt-20">
                         
                            <a class="binduz-er-main-btn" href="#">اعلن هنا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== BINDUZ FEATURED PART ENDS ======-->


    
    <!--====== BINDUZ TOP NEWS PART START ======-->

    <section class="binduz-er-top-news-2-area pt-40">
        <div class=" container">
            <div class="row">
                <div class=" col-lg-4">
                    <div class="binduz-er-video-post binduz-er-top-news-2-slider">
                        <div class="binduz-er-latest-news-item">
                            <div class="binduz-er-thumb">
                                <img src="assets/images/info/1.PNG" alt="">
                            </div>
                            <div class="binduz-er-content">
                                <div class="binduz-er-meta-item">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Social Tv</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fa-solid fa-calendar-days"></i>24th February 2020</span>
                                    </div>
                                </div>
                                <h5 class="binduz-er-title"><a href="#">When artists and machine intelligence come</a></h5>
                            </div>
                        </div>
                        <div class="binduz-er-latest-news-item">
                            <div class="binduz-er-thumb">
                                <img src="assets/images/top-news-item-4.jpg" alt="">
                            </div>
                            <div class="binduz-er-content">
                                <div class="binduz-er-meta-item">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Social Tv</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fa-solid fa-calendar-days"></i>24th February 2020</span>
                                    </div>
                                </div>
                                <h5 class="binduz-er-title"><a href="#">Google Translate: One billion installs, one</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4">
                    <div class="binduz-er-top-news-2-item">
                        <div class="binduz-er-trending-news-item mb-30">
                            <div class="binduz-er-trending-news-overlay">
                                <div class="binduz-er-trending-news-meta">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Social Tv</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fa-solid fa-calendar-days"></i> 24th February 2020</span>
                                    </div>
                                    <div class="binduz-er-trending-news-title">
                                        <h3 class="binduz-er-title"><a href="#">Loud and clear: AI is improving Assistant conversations</a></h3>
                                    </div>
                                </div>
                                <div class="binduz-er-news-share">
                                    <a href="#"><i class="fal fa-share"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4">
                    <div class="binduz-er-top-news-2-item binduz-er-top-news-2-1-item">
                        <div class="binduz-er-trending-news-item mb-30">
                            <div class="binduz-er-trending-news-overlay">
                                <div class="binduz-er-trending-news-meta">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Social Tv</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fa-solid fa-calendar-days"></i> 24th February 2020</span>
                                    </div>
                                    <div class="binduz-er-trending-news-title">
                                        <h3 class="binduz-er-title"><a href="#">Tips and shortcuts for a more productive spring</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="binduz-er-trending-news-item item-2 mb-30">
                            <div class="binduz-er-trending-news-overlay">
                                <div class="binduz-er-trending-news-meta">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Social Tv</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fa-solid fa-calendar-days"></i> 24th February 2020</span>
                                    </div>
                                    <div class="binduz-er-trending-news-title">
                                        <h3 class="binduz-er-title"><a href="#">Helpful tools for when you're ready to travel</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== BINDUZ TOP NEWS PART ENDS ======-->