

    
    <!--====== BINDUZ FEATURED PART START ======-->

    <section class="binduz-er-featured-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="binduz-er-featured-slider mt-30">
                        <div class="binduz-er-featured-title">
                            <h3 class="binduz-er-title">Technology</h3>
                        </div>
                        <div class="binduz-er-featured-slider-item">
                            <div class="binduz-er-trending-news-list-box">
                                <div class="binduz-er-thumb">
                                    <img src="assets/images/feature-news-thuimb.jpg" alt="">
                                </div>
                                <div class="binduz-er-content">
                                    <div class="binduz-er-meta-item">
                                        <div class="binduz-er-meta-categories">
                                            <a href="#">Technology</a>
                                        </div>
                                        <div class="binduz-er-meta-date">
                                            <span><i class="fal fa-calendar-alt"></i> 14th February 2020</span>
                                        </div>
                                    </div>
                                    <div class="binduz-er-trending-news-list-title">
                                        <h4 class="binduz-er-title"><a href="#">JYSK boosts frontline teams with Android Enterprise</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="binduz-er-trending-news-list-box">
                                <div class="binduz-er-thumb">
                                    <img src="assets/images/feature-news-thuimb-2.jpg" alt="">
                                </div>
                                <div class="binduz-er-content">
                                    <div class="binduz-er-meta-item">
                                        <div class="binduz-er-meta-categories">
                                            <a href="#">Technology</a>
                                        </div>
                                        <div class="binduz-er-meta-date">
                                            <span><i class="fal fa-calendar-alt"></i> 14th February 2020</span>
                                        </div>
                                    </div>
                                    <div class="binduz-er-trending-news-list-title">
                                        <h4 class="binduz-er-title"><a href="#">Escucha las historias de los educadores en esta </a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="binduz-er-featured-slider mt-30">
                        <div class="binduz-er-featured-title">
                            <h3 class="binduz-er-title">Lifestyle</h3>
                        </div>
                        <div class="binduz-er-featured-slider-item">
                            <div class="binduz-er-trending-news-list-box">
                                <div class="binduz-er-thumb">
                                    <img src="assets/images/feature-news-thuimb-3.jpg" alt="">
                                </div>
                                <div class="binduz-er-content">
                                    <div class="binduz-er-meta-item">
                                        <div class="binduz-er-meta-categories">
                                            <a href="#">Technology</a>
                                        </div>
                                        <div class="binduz-er-meta-date">
                                            <span><i class="fal fa-calendar-alt"></i> 14th February 2020</span>
                                        </div>
                                    </div>
                                    <div class="binduz-er-trending-news-list-title">
                                        <h4 class="binduz-er-title"><a href="#">Ask a Techspert: How can we fight energy rush hours?</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="binduz-er-trending-news-list-box">
                                <div class="binduz-er-thumb">
                                    <img src="assets/images/feature-news-thuimb-4.jpg" alt="">
                                </div>
                                <div class="binduz-er-content">
                                    <div class="binduz-er-meta-item">
                                        <div class="binduz-er-meta-categories">
                                            <a href="#">Technology</a>
                                        </div>
                                        <div class="binduz-er-meta-date">
                                            <span><i class="fal fa-calendar-alt"></i> 14th February 2020</span>
                                        </div>
                                    </div>
                                    <div class="binduz-er-trending-news-list-title">
                                        <h4 class="binduz-er-title"><a href="#">Dr. Ivor Horn talks about technology and health equity </a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="binduz-er-sidebar-social">
                        <div class="binduz-er-sidebar-title">
                            <h4 class="binduz-er-title">Social Feed</h4>
                        </div>
                        <div class="binduz-er-social-list">
                            <div class="binduz-er-list">
                                <a href="#">
                                    <span><i class="fab fa-facebook-f"></i> <span>15000</span> Likes</span>
                                    <span>Like</span>
                                </a>
                                <a href="#">
                                    <span><i class="fab fa-twitter"></i> <span>15000</span> Likes</span>
                                    <span>Tweet</span>
                                </a>
                                <a href="#">
                                    <span><i class="fab fa-behance"></i> <span>5k+</span> Follower</span>
                                    <span>Follow</span>
                                </a>
                                <a href="#">
                                    <span><i class="fab fa-youtube"></i> <span>15000</span> Subscribe</span>
                                    <span>Subscribe</span>
                                </a>
                            </div>
                        </div>
                        <div class="binduz-er-sidebar-add mt-20">
                            <h3 class="binduz-er-title">Build your website & <span>grow your business</span></h3>
                            <a class="binduz-er-main-btn" href="#">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== BINDUZ FEATURED PART ENDS ======-->


    
    <!--====== BINDUZ TOP NEWS PART START ======-->

    <section class="binduz-er-top-news-2-area pt-40">
        <div class=" container">
            <div class="row">
                <div class=" col-lg-4">
                    <div class="binduz-er-video-post binduz-er-top-news-2-slider">
                        <div class="binduz-er-latest-news-item">
                            <div class="binduz-er-thumb">
                                <img src="assets/images/top-news-item-1.jpg" alt="">
                            </div>
                            <div class="binduz-er-content">
                                <div class="binduz-er-meta-item">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Technology</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fal fa-calendar-alt"></i>24th February 2020</span>
                                    </div>
                                </div>
                                <h5 class="binduz-er-title"><a href="#">When artists and machine intelligence come</a></h5>
                            </div>
                        </div>
                        <div class="binduz-er-latest-news-item">
                            <div class="binduz-er-thumb">
                                <img src="assets/images/top-news-item-4.jpg" alt="">
                            </div>
                            <div class="binduz-er-content">
                                <div class="binduz-er-meta-item">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Technology</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fal fa-calendar-alt"></i>24th February 2020</span>
                                    </div>
                                </div>
                                <h5 class="binduz-er-title"><a href="#">Google Translate: One billion installs, one</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4">
                    <div class="binduz-er-top-news-2-item">
                        <div class="binduz-er-trending-news-item mb-30">
                            <div class="binduz-er-trending-news-overlay">
                                <div class="binduz-er-trending-news-meta">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Technology</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fal fa-calendar-alt"></i> 24th February 2020</span>
                                    </div>
                                    <div class="binduz-er-trending-news-title">
                                        <h3 class="binduz-er-title"><a href="#">Loud and clear: AI is improving Assistant conversations</a></h3>
                                    </div>
                                </div>
                                <div class="binduz-er-news-share">
                                    <a href="#"><i class="fal fa-share"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4">
                    <div class="binduz-er-top-news-2-item binduz-er-top-news-2-1-item">
                        <div class="binduz-er-trending-news-item mb-30">
                            <div class="binduz-er-trending-news-overlay">
                                <div class="binduz-er-trending-news-meta">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Technology</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fal fa-calendar-alt"></i> 24th February 2020</span>
                                    </div>
                                    <div class="binduz-er-trending-news-title">
                                        <h3 class="binduz-er-title"><a href="#">Tips and shortcuts for a more productive spring</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="binduz-er-trending-news-item item-2 mb-30">
                            <div class="binduz-er-trending-news-overlay">
                                <div class="binduz-er-trending-news-meta">
                                    <div class="binduz-er-meta-categories">
                                        <a href="#">Technology</a>
                                    </div>
                                    <div class="binduz-er-meta-date">
                                        <span><i class="fal fa-calendar-alt"></i> 24th February 2020</span>
                                    </div>
                                    <div class="binduz-er-trending-news-title">
                                        <h3 class="binduz-er-title"><a href="#">Helpful tools for when you're ready to travel</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== BINDUZ TOP NEWS PART ENDS ======-->