    <!--====== BINDUZ VIDEO POST PART START ======-->

    <section class="binduz-er-video-post-area gray-bg">
        <div class="container">
         
            <div class="tab-content" id="pills-tabContent-2">
                <div class="tab-pane fade show active" id="pills-21" role="tabpanel" aria-labelledby="pills-21-tab">
                    <div class=" row">
                        <div class="  col-lg-3 col-md-6 order-lg-1 order-1">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/info/2.PNG" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fa fa-youtube-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                               
                                            </div>
                                            
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">...أساتذة وطلبة جامعات أمريكية مختصين في العلاج الوظيفية</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/info/1.PNG" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i>منذ 4 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">قسم العمل الاجتماعي بوزان في زيارة ميدانية للمشاريع المستفيدة من الدعم</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-6 order-lg-2 order-3">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box main-item">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/info/4.PNG" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">أخبار</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 52 دقيقة</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#"> قراءة حول زيارة رئيس الحكومة عزيز أخنوش إلى هولندا</a></h4>
                                            <p class="binduz-er-content"><a href="#">متابعة الاستاذ هشام الخطابي
                                                أسالت زيارة رئيس الحكومة عزيز أخنوش إلى هولندا و لو بصفته الحزبية (روتردام)، و كذا لقائه برئيس الوزراء الهولندي مارك روته بلاهاي، مداد أقلام بعض الأصوات النشاز التي اعتادت الإقتيات على المشاكل و الشؤون الداخلية لبلدان خارج الرقعة الجغرافية للقارة العجوز..</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-3 col-md-6 order-lg-3 order-2">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/info/4.PNG" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">قراءة حول زيارة رئيس الحكومة عزيز أخنوش إلى هولندا</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/info/3.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">قراءة حول زيارة رئيس الحكومة عزيز أخنوش إلى هولندا </a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-22" role="tabpanel" aria-labelledby="pills-22-tab">
                    <div class=" row">
                        <div class="  col-lg-3 col-md-6 order-lg-1 order-1">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-1.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">A Matter of Impact: April updates from Google.org</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-3.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">Android Enterprise security delivers for flexible work</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-6 order-lg-2 order-3">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box main-item">
                                    <div class="binduz-er-thumb">
                                        <img src="https://infosocial.ma/wp-content/uploads/2022/05/DF7BC23F-20A6-4F53-AA94-1FA1163C454A-780x470.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">Escucha las historias de los educadores en esta Semana de Apreciación del Profesor</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-3 col-md-6 order-lg-3 order-2">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="https://infosocial.ma/wp-content/uploads/2022/05/DF7BC23F-20A6-4F53-AA94-1FA1163C454A-780x470.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">This new emoji has been years in the making</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-5.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">New resources on the gender gap in computer science </a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-23" role="tabpanel" aria-labelledby="pills-23-tab">
                    <div class=" row">
                        <div class="  col-lg-3 col-md-6 order-lg-1 order-1">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-1.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">A Matter of Impact: April updates from Google.org</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-3.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">Android Enterprise security delivers for flexible work</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-6 order-lg-2 order-3">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box main-item">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-2.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">Escucha las historias de los educadores en esta Semana de Apreciación del Profesor</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-3 col-md-6 order-lg-3 order-2">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-4.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">This new emoji has been years in the making</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-5.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">New resources on the gender gap in computer science </a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-24" role="tabpanel" aria-labelledby="pills-24-tab">
                    <div class=" row">
                        <div class="  col-lg-3 col-md-6 order-lg-1 order-1">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-1.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">A Matter of Impact: April updates from Google.org</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-3.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">Android Enterprise security delivers for flexible work</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-6 order-lg-2 order-3">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box main-item">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-2.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">Escucha las historias de los educadores en esta Semana de Apreciación del Profesor</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-3 col-md-6 order-lg-3 order-2">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        
                                        <img src="assets/images/video-post-thumb-4.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">This new emoji has been years in the making</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-5.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">New resources on the gender gap in computer science </a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-25" role="tabpanel" aria-labelledby="pills-25-tab">
                    <div class=" row">
                        <div class="  col-lg-3 col-md-6 order-lg-1 order-1">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-1.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">A Matter of Impact: April updates from Google.org</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-3.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">Android Enterprise security delivers for flexible work</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-6 order-lg-2 order-3">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box main-item">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-2.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">Escucha las historias de los educadores en esta Semana de Apreciación del Profesor</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  col-lg-3 col-md-6 order-lg-3 order-2">
                            <div class="binduz-er-video-post-item">
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-4.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">This new emoji has been years in the making</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="binduz-er-trending-news-list-box">
                                    <div class="binduz-er-thumb">
                                        <img src="assets/images/video-post-thumb-5.png" alt="">
                                        <!-- <div class="binduz-er-play">
                                            <a class="binduz-er-video-popup" href="#"><i class="fas fa-play"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="binduz-er-content">
                                        <div class="binduz-er-meta-item">
                                            <div class="binduz-er-meta-categories">
                                                <a href="#">Social Tv</a>
                                            </div>
                                            <div class="binduz-er-meta-date">
                                                <span><i class="fal fa-calendar-alt"></i> منذ 5 أيام</span>
                                            </div>
                                        </div>
                                        <div class="binduz-er-trending-news-list-title">
                                            <h4 class="binduz-er-title"><a href="#">New resources on the gender gap in computer science </a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== BINDUZ VIDEO POST PART ENDS ======-->